.wrapper {
    background-color: var(--secondary-bg-color);
}

.img-preview {
    margin: 0;
    padding: 0;
    max-height: 188px;
    max-width: 188px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.select-text {
    position: absolute;
    height: 188px;
    width: 188px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    cursor: pointer;
    &:hover {
        opacity: 0.2;
    }
}

.form {
    padding: 10px;
    border-radius: 10ox;
}
