.load-more::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(68, 68, 68, 0.37);
  vertical-align: middle;
  line-height: 250px;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 2rem;
}
