@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
    flex: 1;
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
}

.app {
    display: flex;
    position: relative;
    align-items: stretch;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    padding: 0 !important;
    margin: 0 !important;
}
.react-pro-sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
